name: Build-Deploy-Prod
on:
  push:
    branches:
      - 'main'
env:
  IMAGE: ghcr.io/navikt/familie-ks-barnehagelister:${{ github.sha }}
  IMAGE_LATEST: ghcr.io/navikt/familie-ks-barnehagelister:latest
jobs:
  deploy:
    name: Bygg app/image, push til github, deploy til dev-fss/prod-fss
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            maven.pkg.github.com
            auth.docker.io:443
            collector-internet.external.prod-gcp.nav.cloud.nais.io:443
            deploy.nav.cloud.nais.io:443
            europe-north1-docker.pkg.dev:443
            fulcio.sigstore.dev:443
            gcr.io:443
            github.com:443
            iamcredentials.googleapis.com:443
            objects.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            production.cloudflare.docker.com:443
            registry-1.docker.io:443
            rekor.sigstore.dev:443
            sts.googleapis.com:443
            tuf-repo-cdn.sigstore.dev:443
            repo.maven.apache.org:443
            github-registry-files.githubusercontent.com:443
            storage.googleapis.com:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v4
        with:
          java-version: 24
          distribution: 'temurin'
          cache: 'maven'
      - name: Bygg med maven
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn -B --no-transfer-progress package --settings .m2/maven-settings.xml --file pom.xml

      - uses: nais/docker-build-push@791ebb6f74b82849c742a9bc9c97abe44c6c111f # ratchet:nais/docker-build-push@v0
        id: docker-push
        with:
          pull: true # optional, default false
          team: teamfamilie
          push_image: true
          dockerfile: Dockerfile
          docker_context: .
          byosbom: target/classes/META-INF/sbom/application.cdx.json

      - name: Deploy til dev-gcp
        if: github.event.pull_request.user.login != 'dependabot[bot]'
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/app-dev.yaml
          IMAGE: ${{ steps.docker-push.outputs.image }}

      - name: Deploy til prod-gcp
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/app-prod.yaml
          IMAGE: ${{ steps.docker-push.outputs.image }}
